<nav [@fadeIn]="fadeIn" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="../../assets/images/LogoJHre.png" height="40" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#togglerNav" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="togglerNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/experience" routerLinkActive="active">Experiences</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/skills" routerLinkActive="active">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/about" routerLinkActive="active">About</a>
      </li>
    </ul>
  </div>

  <span>
    <a href="#" data-toggle="modal" data-target="#modalMail"><fa-icon [icon]="faEnvelope"></fa-icon></a>
    <a href="https://www.instagram.com/jo.elcin/?hl=en" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
    <a href="https://www.linkedin.com/in/jocelin-heinen-637a6861" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
    <a href="https://github.com/JoHein" target="_blank"><fa-icon [icon]="faGithubAlt"></fa-icon></a>
  </span>

  <div class="modal fade" id="modalMail" tabindex="-1" role="dialog" aria-labelledby="modalMail"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalCenterTitle">
          Contact
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="col">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="First name">
            </div>
            <div class="col">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Last name">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="messageArea">Message</label>
              <textarea class="form-control" id="messageArea" rows="3" placeholder="Message"></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="col-auto my-1">
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</nav>
