<body>
  <div [@fadeIn]="fadeIn" class="d-flex flex-column align-self-center h-100">

    <div class="row text-center h-50">
    </div>
    <div class="row text-center h-100">
      <div class="col-md-3"></div>
      <div class="col-md-6 align-self-center">
        <h2>Jo Heinen</h2>
        <div class="headingline"></div>
        <h3>Developer / Project Manager / Nomad</h3>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 mx-auto"></div>
      <div class="col-md-2 mx-auto boxmenu" routerLink="/experience" routerLinkActive="active"> Experiences</div>
      <div class="col-md-2 mx-auto boxmenu" routerLink="/skills" routerLinkActive="active">Skills</div>
      <div class="col-md-4 mx-auto"></div>
    </div>

    <div class="row text-center">
      <div class="col-md-4 mx-auto"></div>
      <div class="col-md-2 mx-auto boxmenu" routerLink="/degrees" routerLinkActive="active">Degrees</div>
      <div class="col-md-2 mx-auto boxmenu" routerLink="/hobbies" routerLinkActive="active">Hobbies</div>
      <div class="col-md-4 mx-auto"></div>
    </div>
    <div class="row text-center h-100">
    </div>
  </div>
</body>
