<section>
  <div [@fadeIn]="fadeIn"  class="container d-flex flex-column">

    <div class="row text-center">

      <div  class="col-md-6">
        <img class="img-fluid" src="../../assets/images/Technologies.png" alt="Prog" width="750" height="500" />
      </div>
 
      <div class="col-md-6 text-center">
        <div class="row">
          <div class="col-md-12">
            <img class="img-fluid" src="../../assets/images/Skills.png" alt="Skills" width="280" height="300" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <img class="img-fluid" src="../../assets/images/Degrees.png" alt="Degrees" width="310" height="300" />
          </div>
        </div>
      </div>
    </div>
   
  </div>


</section>
