<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<div class="sidenav">
  <a href="#">In</a>
  <a href="#">GitHub</a>
  <a href="#">Gram</a>
</div>

<div class="container mainclear">
  <div class="row">
    <div class="col-md-3">Experience</div>
    <div class="col-md-3">Skills</div>
    <div class="col-md-3">Degrees</div>
    <div class="col-md-3">Hobbies</div>
  </div>
</div>

<router-outlet></router-outlet>


