<section>

  <div [@fadeIn]="fadeIn" class="container d-flex flex-column">

    <div class="row about text-center align-items-center">
      <div class="col-md-6">
        <img class="img-fluid" src="../../assets/images/about/aboutprof.png" alt="Jo" width="250" height="320" />
      </div>
      <div class="col-md-6 quoting">
        <h3 class="text-left">Hi! I am Jo</h3>
        <p class="text-justify">
          Obvious indeed, so just a quick overview for the late comers.
          I am a bouldering enthusiast, football fanatic (the one you play with your feet), movie watcher,
          and sailing lover. <br />
          I’m not an alcohol drinker but am for sure a cheese devourer.
          I am right handed, my height is perfect because both my feet touch the ground,
          and my favorite color is cyan. <br />
          Discovering and learning motivate me, so it’s a good thing I’m curious.
        </p>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-md-4">
        <img class="img-fluid" src="../../assets/images/about/climb.png" alt="Climb" width="370" height="300" />
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="../../assets/images/about/sail.png" alt="Sail" width="370" height="300" />
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="../../assets/images/about/hike.png" alt="Hike" width="370" height="300" />
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-md-4">
        <img class="img-fluid" src="../../assets/images/about/surf.png" alt="Surf" width="370" height="300" />
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="../../assets/images/about/tree.png" alt="Tree" width="370" height="300" />
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="../../assets/images/about/underwater.png" alt="Underwater" width="370" height="300" />
      </div>
    </div>

  </div>
</section>  
